<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-habilitation-cycle-heading"
        data-cy="HabilitationCycleCreateUpdateHeading"
        jhiTranslate="forbidecBackendApp.habilitationCycle.home.createOrEditLabel"
      >
        Créer ou éditer un Habilitation Cycle
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="forbidecBackendApp.habilitationCycle.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let keycloakUserIdRef = editForm.get('keycloakUserId')!;
        <div class="mb-3">
          <label class="form-label" for="field_keycloakUserId" jhiTranslate="forbidecBackendApp.habilitationCycle.keycloakUserId"
            >Keycloak User Id</label
          >
          <input
            type="text"
            class="form-control"
            name="keycloakUserId"
            id="field_keycloakUserId"
            data-cy="keycloakUserId"
            formControlName="keycloakUserId"
          />
          @if (keycloakUserIdRef.invalid && (keycloakUserIdRef.dirty || keycloakUserIdRef.touched)) {
            <div>
              @if (editForm.get('keycloakUserId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('keycloakUserId')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '64' }"
                  >Ce champ doit faire moins de 64 caractères.</small
                >
              }
            </div>
          }
        </div>

        @let roleFonctionnelRef = editForm.get('roleFonctionnel')!;
        <div class="mb-3">
          <label class="form-label" for="field_roleFonctionnel" jhiTranslate="forbidecBackendApp.habilitationCycle.roleFonctionnel"
            >Role Fonctionnel</label
          >
          <select
            class="form-control"
            name="roleFonctionnel"
            formControlName="roleFonctionnel"
            id="field_roleFonctionnel"
            data-cy="roleFonctionnel"
          >
            <option [ngValue]="null">{{ 'forbidecBackendApp.RoleFonctionnel.null' | translate }}</option>
            @for (roleFonctionnel of roleFonctionnelValues; track $index) {
              <option [value]="roleFonctionnel">{{ 'forbidecBackendApp.RoleFonctionnel.' + roleFonctionnel | translate }}</option>
            }
          </select>
          @if (roleFonctionnelRef.invalid && (roleFonctionnelRef.dirty || roleFonctionnelRef.touched)) {
            <div>
              @if (editForm.get('roleFonctionnel')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateDebut" jhiTranslate="forbidecBackendApp.habilitationCycle.dateDebut">Date Debut</label>
          <div class="input-group">
            <input
              id="field_dateDebut"
              data-cy="dateDebut"
              type="text"
              class="form-control"
              name="dateDebut"
              ngbDatepicker
              #dateDebutDp="ngbDatepicker"
              formControlName="dateDebut"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateFin" jhiTranslate="forbidecBackendApp.habilitationCycle.dateFin">Date Fin</label>
          <div class="input-group">
            <input
              id="field_dateFin"
              data-cy="dateFin"
              type="text"
              class="form-control"
              name="dateFin"
              ngbDatepicker
              #dateFinDp="ngbDatepicker"
              formControlName="dateFin"
            />
            <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_centre" jhiTranslate="forbidecBackendApp.habilitationCycle.centre">Centre</label>
          <select
            class="form-control"
            id="field_centre"
            data-cy="centre"
            name="centre"
            formControlName="centre"
            [compareWith]="compareCentreFormation"
          >
            <option [ngValue]="null"></option>
            @for (centreFormationOption of centreFormationsSharedCollection; track $index) {
              <option [ngValue]="centreFormationOption">{{ centreFormationOption.code }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cycle" jhiTranslate="forbidecBackendApp.habilitationCycle.cycle">Cycle</label>
          <select class="form-control" id="field_cycle" data-cy="cycle" name="cycle" formControlName="cycle" [compareWith]="compareCycle">
            <option [ngValue]="null"></option>
            @for (cycleOption of cyclesSharedCollection; track $index) {
              <option [ngValue]="cycleOption">{{ cycleOption.annee }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
