<div>
  <h2 id="page-heading" data-cy="SousMatiereHeading">
    <span jhiTranslate="forbidecBackendApp.sousMatiere.home.title">SousMatieres</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="forbidecBackendApp.sousMatiere.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sous-matiere"
        [routerLink]="['/sous-matiere/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="forbidecBackendApp.sousMatiere.home.createLabel">Créer un nouveau Sous Matiere</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (sousMatieres().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="forbidecBackendApp.sousMatiere.home.notFound">Aucun Sous Matiere trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="intitule">
              <div class="d-flex">
                <span jhiTranslate="forbidecBackendApp.sousMatiere.intitule">Intitule</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="libelleLong">
              <div class="d-flex">
                <span jhiTranslate="forbidecBackendApp.sousMatiere.libelleLong">Libelle Long</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="libelleCourt">
              <div class="d-flex">
                <span jhiTranslate="forbidecBackendApp.sousMatiere.libelleCourt">Libelle Court</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="commentaire">
              <div class="d-flex">
                <span jhiTranslate="forbidecBackendApp.sousMatiere.commentaire">Commentaire</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="actif">
              <div class="d-flex">
                <span jhiTranslate="forbidecBackendApp.sousMatiere.actif">Actif</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (sousMatiere of sousMatieres(); track trackId(sousMatiere)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/sous-matiere', sousMatiere.id, 'view']">{{ sousMatiere.id }}</a>
              </td>
              <td>{{ sousMatiere.intitule }}</td>
              <td>{{ sousMatiere.libelleLong }}</td>
              <td>{{ sousMatiere.libelleCourt }}</td>
              <td>{{ sousMatiere.commentaire }}</td>
              <td>{{ sousMatiere.actif }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/sous-matiere', sousMatiere.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/sous-matiere', sousMatiere.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(sousMatiere)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (sousMatieres().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
