<div>
  <h2 id="page-heading" data-cy="EnseignantHeading">
    <span jhiTranslate="forbidecBackendApp.enseignant.home.title">Enseignants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="forbidecBackendApp.enseignant.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-enseignant"
        [routerLink]="['/enseignant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="forbidecBackendApp.enseignant.home.createLabel">Créer un nouveau Enseignant</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (enseignants().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="forbidecBackendApp.enseignant.home.notFound">Aucun Enseignant trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nom">
              <div class="d-flex">
                <span jhiTranslate="forbidecBackendApp.enseignant.nom">Nom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prenom">
              <div class="d-flex">
                <span jhiTranslate="forbidecBackendApp.enseignant.prenom">Prenom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="libelleLong">
              <div class="d-flex">
                <span jhiTranslate="forbidecBackendApp.enseignant.libelleLong">Libelle Long</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="libelleCourt">
              <div class="d-flex">
                <span jhiTranslate="forbidecBackendApp.enseignant.libelleCourt">Libelle Court</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="forbidecBackendApp.enseignant.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="telephone">
              <div class="d-flex">
                <span jhiTranslate="forbidecBackendApp.enseignant.telephone">Telephone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="keycloakUserId">
              <div class="d-flex">
                <span jhiTranslate="forbidecBackendApp.enseignant.keycloakUserId">Keycloak User Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="commentaire">
              <div class="d-flex">
                <span jhiTranslate="forbidecBackendApp.enseignant.commentaire">Commentaire</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="actif">
              <div class="d-flex">
                <span jhiTranslate="forbidecBackendApp.enseignant.actif">Actif</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (enseignant of enseignants(); track trackId(enseignant)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/enseignant', enseignant.id, 'view']">{{ enseignant.id }}</a>
              </td>
              <td>{{ enseignant.nom }}</td>
              <td>{{ enseignant.prenom }}</td>
              <td>{{ enseignant.libelleLong }}</td>
              <td>{{ enseignant.libelleCourt }}</td>
              <td>{{ enseignant.email }}</td>
              <td>{{ enseignant.telephone }}</td>
              <td>{{ enseignant.keycloakUserId }}</td>
              <td>{{ enseignant.commentaire }}</td>
              <td>{{ enseignant.actif }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/enseignant', enseignant.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/enseignant', enseignant.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(enseignant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (enseignants().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
