<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (matiere(); as matiereRef) {
      <div>
        <h2 data-cy="matiereDetailsHeading"><span jhiTranslate="forbidecBackendApp.matiere.detail.title">Matiere</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ matiereRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="forbidecBackendApp.matiere.intitule">Intitule</span></dt>
          <dd>
            <span>{{ matiereRef.intitule }}</span>
          </dd>
          <dt><span jhiTranslate="forbidecBackendApp.matiere.libelleLong">Libelle Long</span></dt>
          <dd>
            <span>{{ matiereRef.libelleLong }}</span>
          </dd>
          <dt><span jhiTranslate="forbidecBackendApp.matiere.libelleCourt">Libelle Court</span></dt>
          <dd>
            <span>{{ matiereRef.libelleCourt }}</span>
          </dd>
          <dt><span jhiTranslate="forbidecBackendApp.matiere.commentaire">Commentaire</span></dt>
          <dd>
            <span>{{ matiereRef.commentaire }}</span>
          </dd>
          <dt><span jhiTranslate="forbidecBackendApp.matiere.actif">Actif</span></dt>
          <dd>
            <span>{{ matiereRef.actif }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/matiere', matiereRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
