<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cycle-heading" data-cy="CycleCreateUpdateHeading" jhiTranslate="forbidecBackendApp.cycle.home.createOrEditLabel">
        Créer ou éditer un Cycle
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="forbidecBackendApp.cycle.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let anneeRef = editForm.get('annee')!;
        <div class="mb-3">
          <label class="form-label" for="field_annee" jhiTranslate="forbidecBackendApp.cycle.annee">Annee</label>
          <input type="number" class="form-control" name="annee" id="field_annee" data-cy="annee" formControlName="annee" />
          @if (anneeRef.invalid && (anneeRef.dirty || anneeRef.touched)) {
            <div>
              @if (editForm.get('annee')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('annee')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '1900' }"
                  >Ce champ doit être supérieur à 1900.</small
                >
              }
              @if (editForm.get('annee')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '2200' }"
                  >Ce champ doit être inférieur à 2200.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('annee')?.errors?.number" jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let libelleRef = editForm.get('libelle')!;
        <div class="mb-3">
          <label class="form-label" for="field_libelle" jhiTranslate="forbidecBackendApp.cycle.libelle">Libelle</label>
          <input type="text" class="form-control" name="libelle" id="field_libelle" data-cy="libelle" formControlName="libelle" />
          @if (libelleRef.invalid && (libelleRef.dirty || libelleRef.touched)) {
            <div>
              @if (editForm.get('libelle')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >Ce champ doit faire moins de 100 caractères.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateDebut" jhiTranslate="forbidecBackendApp.cycle.dateDebut">Date Debut</label>
          <div class="input-group">
            <input
              id="field_dateDebut"
              data-cy="dateDebut"
              type="text"
              class="form-control"
              name="dateDebut"
              ngbDatepicker
              #dateDebutDp="ngbDatepicker"
              formControlName="dateDebut"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateFin" jhiTranslate="forbidecBackendApp.cycle.dateFin">Date Fin</label>
          <div class="input-group">
            <input
              id="field_dateFin"
              data-cy="dateFin"
              type="text"
              class="form-control"
              name="dateFin"
              ngbDatepicker
              #dateFinDp="ngbDatepicker"
              formControlName="dateFin"
            />
            <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        @let clotureRef = editForm.get('cloture')!;
        <div class="mb-3">
          <label class="form-label" for="field_cloture" jhiTranslate="forbidecBackendApp.cycle.cloture">Cloture</label>
          <input type="checkbox" class="form-check" name="cloture" id="field_cloture" data-cy="cloture" formControlName="cloture" />
          @if (clotureRef.invalid && (clotureRef.dirty || clotureRef.touched)) {
            <div>
              @if (editForm.get('cloture')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let commentaireRef = editForm.get('commentaire')!;
        <div class="mb-3">
          <label class="form-label" for="field_commentaire" jhiTranslate="forbidecBackendApp.cycle.commentaire">Commentaire</label>
          <input
            type="text"
            class="form-control"
            name="commentaire"
            id="field_commentaire"
            data-cy="commentaire"
            formControlName="commentaire"
          />
          @if (commentaireRef.invalid && (commentaireRef.dirty || commentaireRef.touched)) {
            <div>
              @if (editForm.get('commentaire')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >Ce champ doit faire moins de 255 caractères.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_centre" jhiTranslate="forbidecBackendApp.cycle.centre">Centre</label>
          <select
            class="form-control"
            id="field_centre"
            data-cy="centre"
            name="centre"
            formControlName="centre"
            [compareWith]="compareCentreFormation"
          >
            @if (editForm.get(['centre'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (centreFormationOption of centreFormationsSharedCollection; track $index) {
              <option [ngValue]="centreFormationOption">{{ centreFormationOption.code }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['centre'])!.invalid && (editForm.get(['centre'])!.dirty || editForm.get(['centre'])!.touched)) {
          <div>
            @if (editForm.get(['centre'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
