<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cours-heading" data-cy="CoursCreateUpdateHeading" jhiTranslate="forbidecBackendApp.cours.home.createOrEditLabel">
        Créer ou éditer un Cours
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="forbidecBackendApp.cours.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let intituleRef = editForm.get('intitule')!;
        <div class="mb-3">
          <label class="form-label" for="field_intitule" jhiTranslate="forbidecBackendApp.cours.intitule">Intitule</label>
          <input type="text" class="form-control" name="intitule" id="field_intitule" data-cy="intitule" formControlName="intitule" />
          @if (intituleRef.invalid && (intituleRef.dirty || intituleRef.touched)) {
            <div>
              @if (editForm.get('intitule')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('intitule')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '150' }"
                  >Ce champ doit faire moins de 150 caractères.</small
                >
              }
            </div>
          }
        </div>

        @let libelleLongRef = editForm.get('libelleLong')!;
        <div class="mb-3">
          <label class="form-label" for="field_libelleLong" jhiTranslate="forbidecBackendApp.cours.libelleLong">Libelle Long</label>
          <input
            type="text"
            class="form-control"
            name="libelleLong"
            id="field_libelleLong"
            data-cy="libelleLong"
            formControlName="libelleLong"
          />
          @if (libelleLongRef.invalid && (libelleLongRef.dirty || libelleLongRef.touched)) {
            <div>
              @if (editForm.get('libelleLong')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '150' }"
                  >Ce champ doit faire moins de 150 caractères.</small
                >
              }
            </div>
          }
        </div>

        @let libelleCourtRef = editForm.get('libelleCourt')!;
        <div class="mb-3">
          <label class="form-label" for="field_libelleCourt" jhiTranslate="forbidecBackendApp.cours.libelleCourt">Libelle Court</label>
          <input
            type="text"
            class="form-control"
            name="libelleCourt"
            id="field_libelleCourt"
            data-cy="libelleCourt"
            formControlName="libelleCourt"
          />
          @if (libelleCourtRef.invalid && (libelleCourtRef.dirty || libelleCourtRef.touched)) {
            <div>
              @if (editForm.get('libelleCourt')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '60' }"
                  >Ce champ doit faire moins de 60 caractères.</small
                >
              }
            </div>
          }
        </div>

        @let ordreAffichageRef = editForm.get('ordreAffichage')!;
        <div class="mb-3">
          <label class="form-label" for="field_ordreAffichage" jhiTranslate="forbidecBackendApp.cours.ordreAffichage"
            >Ordre Affichage</label
          >
          <input
            type="number"
            class="form-control"
            name="ordreAffichage"
            id="field_ordreAffichage"
            data-cy="ordreAffichage"
            formControlName="ordreAffichage"
          />
          @if (ordreAffichageRef.invalid && (ordreAffichageRef.dirty || ordreAffichageRef.touched)) {
            <div>
              @if (editForm.get('ordreAffichage')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('ordreAffichage')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let nbPeriodesRef = editForm.get('nbPeriodes')!;
        <div class="mb-3">
          <label class="form-label" for="field_nbPeriodes" jhiTranslate="forbidecBackendApp.cours.nbPeriodes">Nb Periodes</label>
          <input
            type="number"
            class="form-control"
            name="nbPeriodes"
            id="field_nbPeriodes"
            data-cy="nbPeriodes"
            formControlName="nbPeriodes"
          />
          @if (nbPeriodesRef.invalid && (nbPeriodesRef.dirty || nbPeriodesRef.touched)) {
            <div>
              @if (editForm.get('nbPeriodes')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Ce champ doit être supérieur à 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('nbPeriodes')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let coefficientRef = editForm.get('coefficient')!;
        <div class="mb-3">
          <label class="form-label" for="field_coefficient" jhiTranslate="forbidecBackendApp.cours.coefficient">Coefficient</label>
          <input
            type="number"
            class="form-control"
            name="coefficient"
            id="field_coefficient"
            data-cy="coefficient"
            formControlName="coefficient"
          />
          @if (coefficientRef.invalid && (coefficientRef.dirty || coefficientRef.touched)) {
            <div>
              @if (editForm.get('coefficient')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('coefficient')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Ce champ doit être supérieur à 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('coefficient')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateDebut" jhiTranslate="forbidecBackendApp.cours.dateDebut">Date Debut</label>
          <div class="input-group">
            <input
              id="field_dateDebut"
              data-cy="dateDebut"
              type="text"
              class="form-control"
              name="dateDebut"
              ngbDatepicker
              #dateDebutDp="ngbDatepicker"
              formControlName="dateDebut"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateFin" jhiTranslate="forbidecBackendApp.cours.dateFin">Date Fin</label>
          <div class="input-group">
            <input
              id="field_dateFin"
              data-cy="dateFin"
              type="text"
              class="form-control"
              name="dateFin"
              ngbDatepicker
              #dateFinDp="ngbDatepicker"
              formControlName="dateFin"
            />
            <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        @let commentaireRef = editForm.get('commentaire')!;
        <div class="mb-3">
          <label class="form-label" for="field_commentaire" jhiTranslate="forbidecBackendApp.cours.commentaire">Commentaire</label>
          <input
            type="text"
            class="form-control"
            name="commentaire"
            id="field_commentaire"
            data-cy="commentaire"
            formControlName="commentaire"
          />
          @if (commentaireRef.invalid && (commentaireRef.dirty || commentaireRef.touched)) {
            <div>
              @if (editForm.get('commentaire')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >Ce champ doit faire moins de 255 caractères.</small
                >
              }
            </div>
          }
        </div>

        @let actifRef = editForm.get('actif')!;
        <div class="mb-3">
          <label class="form-label" for="field_actif" jhiTranslate="forbidecBackendApp.cours.actif">Actif</label>
          <input type="checkbox" class="form-check" name="actif" id="field_actif" data-cy="actif" formControlName="actif" />
          @if (actifRef.invalid && (actifRef.dirty || actifRef.touched)) {
            <div>
              @if (editForm.get('actif')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
